.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.chart:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
